@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(30, 29, 29, 0.87);
  
  background-color: var(--color-gray-200);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-family: "Sour Gummy", sans-serif;
  font-family: var(--font-family);
  
  --color-primary: #760787;

  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;
  --color-gray-800: #2d3748;
  --color-gray-900: #1a202c;
  --color-gray-950: #2c2c2c;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3rem;
}
button {
  background-color: var(--color-gray-950);
  cursor: pointer;
}
#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  text-align: center;
}
@media (min-width: 600px){
  #app {
    width: 100%;
  }
}


